<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles (title='Create New Item')">
<body>

<div class="container">
	<div class="page-header" id="banner">
		<header th:insert="fragments/general.html :: header"> </header>
		<div th:replace="fragments/general.html :: menu"></div>
	</div>
	<form th:action="@{/createitem}" method="post" enctype="multipart/form-data">
	    <div><input type="hidden" th:value="${item.id}" name="id" /></div>
		<table>
			<tr>
				<td><span th:text="#{label.name}" />:</td>
				<td><input type=text name="name" th:value="${item.name}?:''" /></td>
			</tr>
			<tr>
				<td><span th:text="#{label.price}" />:</td>
				<td><input type="number" name="price" step="0.1" th:value="${item.price}?:''" /></td>
			</tr>
			<tr>
				<td><span th:text="#{label.description}" />:</td>
				<td><input type=text name="description" th:value="${item.description}?:''"/></td>
			</tr>
		</table>
	    <br>
		<div>
			<input type="submit" th:value="#{label.save}" name="button"/>
			<input class="button" type="button" onclick="window.location.replace('/viewitems')" th:value="#{label.cancel}" />
		</div>
	</form>
	
	<div th:replace="fragments/general.html :: footer"></div>
	
</div>

</body>
</html>