<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles (title='View Item')">
<body>
<div class="container">
	<div class="page-header" id="banner">
		<header th:insert="fragments/general.html :: header"> </header>
      	<div th:replace="fragments/general.html :: menu"></div>
	</div>
		<div th:if="${errormsg}">
				  <b><p th:text="${errormsg}"></p></b>
   				</div>
		<table cellpadding="10">
			<tr>
				<td width="100px"><b>Id:</b></td>
				<td><b margin-left="15px" th:text="${item.id}" /></td>
			<tr>
			<tr>
				<td><b th:text="#{label.name}" />:</td>
				<td><b th:text="${item.name}" /></td>
			<tr>
			<tr>
				<td><b th:text="#{label.price}" />:</td>
				<td><b th:text="${item.price}" /></td>
			<tr>
			<tr>
				<td><b th:text="#{label.description}" />:</td>
				<td><b th:text="${item.description}" /></td>
			<tr>
		</table>
		
		<p><a th:href="@{/updateitem/{id}(id=${item.id})}"><span th:text="#{label.update}" /></a> | <a th:href="@{/viewitems}"><span th:text="#{label.cancel}" /></a></p>
		
		<div th:replace="fragments/general.html :: footer"></div>
</div>

</body>
</html>
